<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAC31ydQrRgYKn8ZdcleK2Avtf4iyb1n9M</string>
	<key>GCM_SENDER_ID</key>
	<string>567425442183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getx_ultimate_template</string>
	<key>PROJECT_ID</key>
	<string>dummy-app-7074</string>
	<key>STORAGE_BUCKET</key>
	<string>dummy-app-7074.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567425442183:ios:948389defa64373134f322</string>
</dict>
</plist>