<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAihjMeDR-mgU8oaULArKg1P9gDvlwmb88</string>
	<key>GCM_SENDER_ID</key>
	<string>94087615646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.solobit.getxUltimateTemplate</string>
	<key>PROJECT_ID</key>
	<string>getx-ultimate-template</string>
	<key>STORAGE_BUCKET</key>
	<string>getx-ultimate-template.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94087615646:ios:dd24e7d16d69772975978f</string>
</dict>
</plist>